@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Tilt+Neon&display=swap');

@font-family {
  font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
  "XROT" 0,
  "YROT" 0;
}

.neon-sign-container {

}

.neon-sign {

  max-height: 4%;
  max-width: 100%;
  padding-left: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
  animation-delay: 1s;
  
}

.neon-txt p,
.night p {
  font-family: "Tilt Neon", sans-serif;
  font-size: 2vw;
  color: white;
  text-transform: uppercase;
  -webkit-text-stroke: 2px #1a1aff;
  -webkit-text-fill-color: white;

  margin: 0;
}

.neon-txt p {
    animation: neon-twinkle 8s infinite alternate;
}

.night p {
    animation: neon-twinkle 4s infinite alternate;
}



@keyframes neon-twinkle {
  0%, 100% {
    text-shadow: 0 0 80px #1a1aff, 0 0 16px #1a1aff, 0 0 8px #1a1aff;
    opacity: 1;
  }
  50% {
    text-shadow: 0 0 50px #1a1aff, 0 0 10px #1a1aff, 0 0 4px #1a1aff;
    opacity: 0.8;
  }
  70% {
    text-shadow: 0 0 90px #1a1aff, 0 0 20px #1a1aff, 0 0 10px #1a1aff;
    opacity: 0.9;
  }
  85% {
    text-shadow: 0 0 30px #1a1aff, 0 0 8px #1a1aff, 0 0 3px #1a1aff;
    opacity: 0.7;
  }
}

@media only screen and (max-width: 960px) {

	.neon-txt p, .night p {
		  font-size: 4vw;

	}
	
	
}
